$primary: #387de5 !default;
$primary2: #72a3d0 !default;
$primary3: #91bde9 !default;
$primary4: #b1d9ff !default;
$primary5: #fff6f3 !default;
$primary6: #f2f7fd !default;

$secondary: #005375 !default;
$secondary2: #1384b2 !default;
$secondary3: #4cb2dc !default;
$secondary4: #88c6df !default;
$secondary5: #edf4ff !default;

$tertiary: #005375 !default;
$tertiary2: #0375a4 !default;
$tertiary3: #0590ca !default;
$tertiary4: #3ac4fd !default;
$tertiary5: #87dcff !default;

$neutral: #2d2d2e !default;
$neutral2: #555555 !default;
$neutral3: #555555 !default;
$neutral4: #b5b5b5 !default;
$neutral5: #d9d9d9 !default;
$neutral6: #e4e4e4 !default;
$neutral7: #f5f5f5 !default;
$neutral8: #f7f7f7 !default;
$neutral9: #ffffff !default;
$neutral10: #a3a3a3 !default;
$neutral11: #cfd8e5 !default;

$warning: #5ca044 !default;
$warning2: #def0d7 !default;
$warning3: #ffbf42 !default;
$warning4: #fff8ea !default;
$warning5: #ff1e1e !default;
$warning6: #fff2f2 !default;

$tableHeading: #ced8e5 !default;

$font-family-primary: 'Inter', Arial, sans-serif !default;
