@import '../../../../../../styles/Global/Variable.scss';

.procedureTypesForm {
  .group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2%;
    @media (max-width: 767px) {
      flex-flow: wrap;
    }
    @media (min-width: 767px) {
      :global(.form-field) {
        margin-bottom: 0;
      }
    }
  }
  .smallHeading {
    p {
      font-size: 16px;
      color: $neutral;
      margin-bottom: 0;
    }
  }
}

.input_shrink {
  flex-shrink: 0 !important;
}

.drop > li > a:hover {
  background-color: #1967d2 !important;
  color: white !important;
  // border: 1px solid #000 !important;
}

.height {
  height: auto !important;
}

.qtyInput {
  width: 50px !important;
  text-align: center !important;
  height: 50px !important;
  min-height: 40px !important;
  padding: 5px !important;
}
