.imageMainContent {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 0 -5px 5px -5px #c5c4c4;
  background-color: white;
}
.imageMainContent h4 {
  font-size: 24px;
  font-weight: 500;
  color: #000;
  margin: unset;
}
.imageMainContent span {
  font-size: 16px;
  font-weight: 500;
  color: #005375;
}

.imageMainContentNoPadding {
  box-shadow: 0 -5px 5px -5px #c5c4c4;
  background-color: white;
}
.imageMainContentNoPadding h4 {
  font-size: 24px;
  font-weight: 500;
  color: #000;
  margin: unset;
}
.imageMainContentNoPadding span {
  font-size: 16px;
  font-weight: 500;
  color: #005375;
}
