.imageMainContent {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 0 -5px 5px -5px #c5c4c4;
  background-color: white;
}
.imageMainContent h4 {
  font-size: 24px;
  font-weight: 500;
  color: #000;
  margin: unset;
}
.imageMainContent span {
  font-size: 20px;
  font-weight: 500;
  color: #005375;
}

.directionTabs {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid #d9d9d9;

  .filterBar {
    margin-bottom: 0px !important;
  }

  .filterBar .tabs {
    border-bottom: 0px !important;
  }
}
