.rows {
  width: 100%;
}
.errorcolor {
  color: red;
  font-size: 13px;
  margin-top: -3px;
}
.dullcolor {
  color: #bdbdbd;
}
.formcontainer {
  margin-top: 15vh;
}
.saveclose {
  padding: 12px 23px;
}
.saveandclose {
  padding: 12px 23px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #387de5;
  color: #387de5;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}
.savechange {
  background-color: #387de5;
  color: white;
  margin-right: 30px !important;
}
.saveandclose:hover {
  background-color: #edf4ff !important;
  cursor: pointer;
}
.savechange:hover {
  background-color: #387de5 !important;
  opacity: 0.8 !important;
}

@import '../../../../../../styles/Global/Variable.scss';

.addAdminRoles {
  .permissions {
    .group {
      // padding-left: 20px;
      // border-left: 1px solid #ced8e5;
      > :global(.form-field) {
        margin-bottom: 30px;
        position: relative;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .innerChild {
        opacity: 0;
        height: 0;
        transition:
          opacity 0.5s,
          height 0.5s;

        &.show {
          opacity: 1;
          height: auto;
        }

        &.hide {
          opacity: 0;
          height: 0;
        }

        > :global(.form-field) {
          margin-bottom: 30px;
        }

        .group {
          margin-bottom: 30px;
          border: none;
          padding-left: 30px;

          > :global(.form-field) {
            &:after {
              content: '';
              display: block;
              width: 30px;
              height: 2px;
              background-color: #ced8e5;
              position: absolute;
              left: -50px;
            }

            &:before {
              z-index: 1;
              height: 12px;
              width: 12px;
            }
          }

          .innerChild {
            .group {
              > :global(.form-field) {
                &:after {
                  width: 55px;
                  left: -80px;
                }
              }
            }

            .innerChild {
              .group {
                > :global(.form-field) {
                  &:after {
                    content: '';
                    width: 90px;
                    left: -110px;
                  }
                }
              }
            }
          }
        }

        .withCheckbox {
          display: flex;

          :global(.form-field) {
            margin-bottom: 0;
            width: 45%;
          }

          .checkBoxRow {
            display: flex;

            :global(.form-field) {
              margin-right: 20px;

              label {
                margin-left: 5px;
              }

              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
      }
    }

    .toggleRow {
      display: flex;
      align-items: center;

      :global(.form-field) {
        width: 20%;
        margin-right: 30px;
      }
    }
  }

  p {
    color: $neutral;
  }

  .permissionlist {
    background-color: #cfd8e5;
    margin-right: 10px;
    color: #005375;
    padding-right: 10px !important;
    font-size: 12px;
  }

  .removeicon {
    cursor: pointer;
    margin-left: 20px;
  }

  .headercolor {
    background-color: #cfd8e5 !important;
  }

  .flexwrap {
    flex-wrap: wrap;
  }

  .formcontainer {
    margin-top: 15vh;
  }

  .rows {
    width: 100%;
  }

  .errorcolor {
    color: red;
  }

  .bordercolor {
    border-color: white !important;
  }

  .bordercolor:hover {
    background-color: white !important;
  }

  .footertext {
    position: absolute;
    left: 285px;
    cursor: pointer;
  }

  .footertext:hover {
    color: #005375;
  }

  .formcontainer {
    margin-top: 15vh;
  }

  .rows {
    width: 100%;
  }

  .errorcolor {
    color: red;
    font-size: 13px;
    margin-top: -3px;
  }

  .bordercolor {
    border-color: white !important;
  }

  .bordercolor:hover {
    background-color: white !important;
  }

  .footertext {
    position: absolute;
    left: 375px;
    cursor: pointer;
  }

  .footertext:hover {
    color: #005375;
  }

  .filterbutton {
    width: 180px !important;
  }

  .archiveoption {
    font-size: 13px;
    cursor: pointer;
  }
}

.archivebtn {
  text-decoration: none !important;
}
.archivebtn:hover {
  color: #387de5 !important;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  padding-top: 10vh;
}

.mainBody {
  flex: 1;
  height: auto;
}
