.radioBtnGap {
  display: flex;
  align-items: center;
  /* Align items vertically in the center */
  width: 50%;
}
.radioBtnGap > div {
  flex: 1;
  /* Allow the child div to take up remaining space */
}
.TransferToAgent {
}
.formcontainer {
  margin-top: 12vh;
  margin-bottom: 30vh;
}
.customCheckbox > div {
  display: flex;
  align-items: center;
}
.customCheckbox > div label {
  width: max-content;
  flex: 1;
}
.radioInputCont {
  display: flex;
  gap: 1rem;
}
.radioInputCont > div {
  margin: 0 !important;
}
.fontSizes {
  font-size: 14px;
}
