@import '../../../../../../../../styles/Global/Variable.scss';

.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease 0s;
  &.active {
    visibility: visible;
    opacity: 1;
    .popupInner {
      bottom: 0;
    }
  }
  .popupInner {
    transition: all 1s ease;
    padding: 30px 30px 30px;
    background-color: $neutral9;
    border-radius: 10px;
    .content {
      text-align: left;
      h3 {
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 10px;
        color: $neutral;
        font-family: $font-family-primary;
      }
      p {
        font-size: 16px;
        font-weight: 500;
        color: $neutral;
        margin-bottom: 0;
        font-family: $font-family-primary;
      }
      span {
        font-family: $font-family-primary;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: $neutral;
      }
      .buttons {
        margin-top: 20px;
        display: flex;
        align-items: justify-between;
        justify-content: end;
        gap: 15px;
        button {
          min-width: 132px;
        }
      }
    }
  }
}
.label-test {
  position: absolute !important;
  top: 0 !important;
  left: 13px !important;
  color: green !important;
}

.input-styles {
  color: red !important;
}

.createEditForm {
  margin-top: 10vh;
  margin-bottom: 10vh;
  .group {
    p {
      color: $neutral;
    }
    .form-field.checkbox {
      width: 33%; /* Set the width to 33% */
      display: inline-flex; /* Display inline */
      align-items: center; /* Align items vertically */
      margin-bottom: 0; /* Remove default margin */
      &:not(:last-child) {
        margin-right: 20px; /* Add some spacing between checkboxes */
      }
      .form-check-input {
        width: 22px;
        height: 22px;
      }
      .form-check-label {
        margin-left: 5px;
      }
      .error {
        margin-top: 5px;
      }
    }
  }
  :global {
    .form-field.checkbox.cc label {
      margin-left: 0px !important;
    }
  }
}

.field {
  position: relative;

  input + label {
    top: 28% !important;
  }

  textarea + label {
    top: 20% !important;
  }

  textarea:placeholder-shown + label,
  input:placeholder-shown + label {
    font-size: 16px !important;
    @media (max-width: 767px) {
      font-size: 14px !important;
    }
  }

  input:focus-visible + label,
  input:not(:placeholder-shown) + label {
    top: 5% !important;
    font-size: 12px !important;
  }

  textarea:focus-visible + label,
  textarea:not(:placeholder-shown) + label {
    top: 8% !important;
    font-size: 12px !important;
  }
}

.fieldIcon {
  position: absolute;
  top: 1rem;
  right: 1.3rem;
  color: #333;
}

.disabledItem {
  border-color: #d9d9d9;
  color: #555555;
}

.label {
  font-size: 12px;
  top: 0.8rem;
  color: #555555;
  position: absolute;
  top: 5px;
  left: 20px;
}

.value {
  font-size: 16px !important;
  padding-top: 0.2rem !important;
  padding-left: 0.5rem !important;
  text-align: left;
  @media (max-width: 767px) {
    font-size: 14px !important;
    padding-left: 0.3rem !important;
  }
}
