@import '../../../styles/Global/Variable.scss';

.modalMain {
  z-index: 6666666;
}

.modalbody {
  height: 255px;
  width: 354px !important;
  display: flex;
  @media (max-width: 767px) {
    width: 100% !important;
    height: 235px;
  }
}
.successicon {
  width: 75px;
  height: 75px;
  background-color: rgb(3, 180, 3);
  border-radius: 50%;
  border: 7px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -35px;
}
.nobtn {
  width: 137px !important;
  height: 47px !important;
  padding: 16px 32px !important;
  justify-content: center !important;
  align-items: center !important;
  font-size: 18px !important;
  font-weight: 400px !important;
  line-height: 24px !important;
  @media (max-width: 767px) {
    height: unset !important;
    min-height: 40px !important;
    padding: 5px 20px !important;
    font-size: 14px !important;
    line-height: unset !important;
  }
}
.nobtnhover:hover {
  background-color: #edf4ff !important;
}
.warning {
  width: 88px;
  height: 88px;
  background-color: #ff1e1e;
  border-radius: 50%;
  border: 7px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -35px;
  @media (max-width: 767px) {
    height: 60px;
    width: 60px;
  }
}
.primary {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -35px;
}
.heading {
  font-size: 30px !important;
  margin-top: 30px;
  color: #2d2d2e !important;
  font-weight: 500 !important;
  margin-bottom: 11px;
  @media (max-width: 1199px) {
    font-size: 30px;
  }
  @media (max-width: 767px) {
    font-size: 28px;
    margin-top: 0;
  }
}
.bodytext {
  text-align: center;
  font-family: Inter;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: normal;
  color: #a3a3a3 !important;
  display: flex !important;
  justify-content: center !important;
  @media (max-width: 767px) {
    font-size: 14px !important;
  }
}
.submitbutton {
  min-height: 40px;
  width: 42% !important;
}
.cancelButton {
  border-color: #387de5;
  color: #387de5;
  background-color: transparent;
}
.text_width {
  width: 80% !important;
  padding-top: 5px;
}

.modalButtons {
  margin-top: 1.5rem;
}

.inpputField {
  width: 100%;
  border: 1px solid #e4e4e4;
  transition: border 0.3s ease;
  border-radius: 8px;
  outline: none;
  padding-left: 10px; /* Adjust padding-left to be the same as margin-left of label */
  font-size: 16px;
  padding-top: 15px;
}

.inpputField:hover,
.inpputField:focus {
  border: 1px solid #387de5;
}
.inputLabel {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 10px;
  margin-top: 3px;
  color: #757575;
  font-size: 12px;
  pointer-events: none;
}

#timePicker::-webkit-calendar-picker-indicator {
  font-size: 22px;
  padding-bottom: 10px;
}
