@import '../../../../../../styles/Global/Variable.scss';

.addAdminRoles {
  .permissions {
    .datePicker-custom {
      height: 54px !important;
      margin-top: 0 !important;
    }

    .group {
      // padding-left: 20px;
      // border-left: 1px solid #ced8e5;
      > :global(.form-field) {
        margin-bottom: 30px;
        width: 100%;
        position: relative;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .field {
        width: 100%;
      }

      .innerChild {
        opacity: 0;
        height: 0;
        transition:
          opacity 0.5s,
          height 0.5s;

        &.show {
          opacity: 1;
          height: auto;
        }

        &.hide {
          opacity: 0;
          height: 0;
        }

        > :global(.form-field) {
          margin-bottom: 30px;
        }

        .group {
          margin-bottom: 30px;
          border: none;
          padding-left: 30px;

          > :global(.form-field) {
            &:after {
              content: '';
              display: block;
              width: 30px;
              height: 2px;
              background-color: #ced8e5;
              position: absolute;
              left: -50px;
            }

            &:before {
              z-index: 1;
              height: 12px;
              width: 12px;
            }
          }

          .innerChild {
            .group {
              > :global(.form-field) {
                &:after {
                  width: 55px;
                  left: -80px;
                }
              }
            }

            .innerChild {
              .group {
                > :global(.form-field) {
                  &:after {
                    content: '';
                    width: 90px;
                    left: -110px;
                  }
                }
              }
            }
          }
        }

        .withCheckbox {
          display: flex;

          :global(.form-field) {
            margin-bottom: 0;
            width: 45%;
          }

          .checkBoxRow {
            display: flex;

            :global(.form-field) {
              margin-right: 20px;

              label {
                margin-left: 5px;
              }

              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
      }
    }

    .toggleRow {
      display: flex;
      align-items: center;

      :global(.form-field) {
        width: 20%;
        margin-right: 30px;
      }
    }
  }

  p {
    color: $neutral;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    padding: 15px 20px;
    text-align: start;
  }

  .table_head,
  .fir_col {
    background-color: rgb(181, 203, 206);
  }

  .sec_col {
    background-color: rgb(131, 196, 205);
  }
}

// .datePickerFirst {
//   width: 94%;
// }

// .secondDate {
//   width: 94%;
//   margin-left: -10px;
// }

.operationStatus {
  margin-top: 10vh;
  margin-bottom: 10vh;

  .group {
    p {
      color: $neutral;
    }

    .form-field.checkbox {
      width: 33%;
      display: inline-flex;
      align-items: center;
      margin-bottom: 0;

      &:not(:last-child) {
        margin-right: 20px;
      }

      .form-check-input {
        width: 22px;
        height: 22px;
      }

      .form-check-label {
        margin-left: 5px;
      }

      .error {
        margin-top: 5px;
      }
    }
  }
}

.dataLoading {
  text-align: center;
  background-color: #fff;
  color: #2d2d2e;
}

.rowP0 > * {
  padding: 0px !important;
}
