/* #app {
    height: 100vh;
} */

.CustomAudioPlayer {
  display: flex;
  gap: 10px;
  align-items: center;
  border: 1px solid #bfbfbf;
  padding: 5px;
  background-color: #f8f7f6;
  border-radius: 7px;
  width: fit-content;
  padding: 10px 20px;
  padding-right: 3rem;

  button {
    width: 35px;
  }
}

.time {
  font-size: 14px;
}

.ProgressBar {
  -webkit-appearance: none;
  background-color: #d9d9d9;
  color: #3f7ce0;
  accent-color: #3f7ce0;
  height: 3px;
  border-radius: 5px;
  outline: none;
}

.ProgressBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 8px;
  height: 8px;
  background-color: #3f7ce0;
  border-radius: 50%;
}

.ProgressBar:focus {
  outline: none;
}

.ProgressBar::-ms-track {
  -webkit-appearance: none;
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.ProgressBar::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  width: 100%; // Ensure full width
  background: #d9d9d9; // Match the track background
  margin: 0;
  border-radius: 5px; // Match the overall slider's border-radius
}

.ProgressBar::-moz-range-track {
  background: #d9d9d9;
  border-radius: 5px;
}

.ProgressBar::-webkit-slider-thumb {
  -webkit-appearance: none;
}
