/* --------------------------------------------------------- */
/* -------------------------------------------------------- */

/* ------------------------------------------------------------- */
.breadcum {
  height: 110px;
  padding-left: 32px;
}
.breadcum h1 {
  font-size: 24px;
  padding-top: 30px;
}
.breadcum-label {
  margin-top: 14px;
  font-size: 12px;
  font-weight: 400;
}
.disable-label {
  color: #a3a3a3;
}
.active-label {
  color: #880808;
}

/* ------------------------------------------------------------- */
