@import '../../../styles/Global/Variable.scss';

.breadcrumbs {
  h1 {
    font-size: 24px;
    color: $neutral;
    margin-bottom: 0;
    font-weight: 500;
    @media (max-width: 1199px) {
      font-size: 22px;
    }
    @media (max-width: 767px) {
      font-size: 20px;
      width: 100%;
    }
  }
  .breadcrumbsLabels {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    > span {
      display: flex;
      align-items: center;
    }
    @media (max-width: 767px) {
      display: none;
    }
    a {
      display: flex;
      :global {
        .text {
          font-size: 12px;
          color: $neutral10;
          margin: 0 8px;
        }
      }
      &:first-child {
        :global {
          .text {
            margin-left: 0;
          }
        }
      }
      &:last-child {
        :global {
          .text {
            color: $secondary;
          }
        }
      }
    }
    :global {
      .icon {
        position: relative;
        bottom: 2px;
        margin-right: 8px;
      }
    }
  }
}
