.tbRow {
  border-bottom: 2px solid #d9d9d9;
  border-left: unset;
  border-right: unset;
  border-top: unset;
}

.modalTitle {
  font-family: Inter;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  .btn-close {
    height: 24px;
    width: 24px;
    box-sizing: border-box;
    padding: 2px;
    margin-right: 4px;
  }
}

.tableCell {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: Inter;
  color: #000000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 18px 10px;
  &:first-child {
    padding-left: 30px;
  }
  &:last-child {
    padding-right: 30px;
  }
}

.highlightedCell {
  background-color: #fff8ea;
  text-align: center;
  color: #ffaf14;
  border-radius: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.th {
  font-family: Inter;
  color: #000000;
  background-color: unset;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 20px 10px;
  &:first-child {
    padding-left: 30px;
  }
  &:last-child {
    padding-right: 30px;
  }
}

.th-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
