.operationfilter {
  width: 356px;
  height: 56px;
}

.selecteditemcount {
  height: 20px;
  min-width: 20px;
  font-size: 12px;
  font-weight: 400;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: {
    left: 3px;
    right: 3px;
  }
}

.quantitycount {
  width: 30px !important;
  height: 20px !important;
  border-radius: 50px !important;
  font-size: 11px !important;
}

.devicetypeinputfields {
  padding: 16px 20px;
  .text-black {
    position: 8px;
  }
  // color: #A3A3A3 !important;
}

.checkbox {
  width: 20px;
  height: 20px;
}

.selected {
  font-weight: 400;
  font-size: 16px;
  @media (max-width: 767px) {
    font-size: 14px;
  }
}
.transform {
  transform: translate(-1.6667px, 58.6667px) !important;
}
