@import '../../../styles/Global/Variable.scss';

.contactTable {
  :global {
    thead {
      td {
        border-left: unset !important;
        border-right: unset !important;
        font-size: 20px;
        font-weight: 500;
        border-bottom: 1px solid #d9d9d9;
        padding-top: 13px;
        padding-bottom: 13px;
        padding-left: 30px;

        @media (max-width: 767px) {
          font-size: 18px;
        }
      }
    }

    td {
      border-left: unset !important;
      border-right: unset !important;
      font-size: 16px;
      font-weight: 400;
      padding: 13px;
      padding-top: 13px;
      padding-bottom: 13px;
      padding-left: 30px;

      @media (max-width: 767px) {
        font-size: 14px;
      }
    }
  }
}

.account {
  .subHeading {
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 1rem;
  }

  .form-field.checkbox {
    width: 33%;
    /* Set the width to 33% */
    display: inline-flex;
    /* Display inline */
    align-items: center;
    /* Align items vertically */
    margin-bottom: 0;

    /* Remove default margin */
    &:not(:last-child) {
      margin-right: 20px;
      /* Add some spacing between checkboxes */
    }

    .form-check-input {
      width: 22px;
      height: 22px;
    }

    .form-check-label {
      margin-left: 5px;
    }

    .error {
      margin-top: 5px;
    }
  }

  p {
    color: $neutral;
  }

  :global {
    .form-field.checkbox.cc label {
      margin-left: 0px !important;
    }

    .contacts {
      .d-flex {
        display: flex !important;
      }

      .tableContainer {
        width: 100%;
        overflow: auto;
        margin-bottom: 1.5rem !important;

        .viewTables {
          margin-bottom: 0 !important;
        }
      }
    }
  }
}

.drop>li>a:hover {
  background-color: #1967d2 !important;
  color: white !important;
  // border: 1px solid #000 !important;
}

.tableAccount {
  thead {
    tr {
      th {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }

  tbody {
    tr {
      td {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }

  border: 1px solid #d9d9d9;
}

.modalTableAccount {
  thead {
    background-color: #cfd8e5 !important;

    tr {
      background-color: #cfd8e5 !important;

      th:nth-child(1) {
        text-align: center !important;
      }

      th {
        background-color: #cfd8e5 !important;
        font-size: 16px;
        font-weight: 500;
        vertical-align: middle;
        height: 50px !important;
      }
    }
  }

  tbody {
    tr {
      td:nth-child(1) {
        text-align: center !important;
      }

      td {
        vertical-align: middle;
        font-size: 14px;
        font-weight: 400;

        input[type='checkbox'] {
          padding: 8px !important;
          margin-right: 10px !important;
        }
      }
    }
  }

  border: 1px solid #d9d9d9;
}

.btncancel {
  font-size: 14px;
  margin-right: 20px;
  margin-bottom: 0px;
  color: #005375;

  &:hover {
    color: #387de5;
    cursor: pointer;
  }
}

.btnAddContact {
  display: inline-flex;
  height: 40px;
  padding: 12px 23px;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 6px;
  background-color: #387de5;
  margin-bottom: 0px;
  color: white !important;

  &:hover {
    cursor: pointer;
    background-color: #72a3d0;
  }
}

.popupStyle {
  max-width: 67% !important;
  padding: 30px !important;
  padding-top: 25px !important;

  @media (max-width: 767px) {
    max-width: 100% !important;
  }
}

.modalPadding {
  padding: 10px !important;
}

.dob {
  button {
    min-width: 0px !important;
  }
}