.formcontainer {
  margin-top: 12vh;
  margin-bottom: 30vh;
}

.heading {
  margin-bottom: 24px !important;
  margin-top: -7px !important;
}
.dropdownWidthMenu {
  width: 220px !important;
}

.createbtn {
  margin-right: 30px !important;
  padding: 0px 23px !important;
}

.footercancelbtn {
  font-size: 15px !important;
  margin-right: 0px !important;
  padding-right: 20px !important;
}

.datepicker {
  padding: 15px 33px 15px 20px !important;
}

.saveandclose {
  padding: 12px 23px !important;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #387de5;
  color: #387de5 !important;
  margin-right: 20px !important;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 400;
}

.saveandclose:hover {
  background-color: #edf4ff !important;
}
