@import '../../../../../styles/Global/Variable.scss';

.toggle-button {
  display: inline-block;
}

.toggle-input {
  display: none;
}

.toggle-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.toggle-text {
  color: black;
  margin-right: 5px; /* Adjust the margin as needed */
  font-size: 14px; /* Adjust the font size as needed */
}

.toggle-slider {
  width: 40px; /* Adjust the width as needed */
  height: 20px; /* Adjust the height as needed */
  background-color: #fafafa; /* Adjust the background color as needed */
  border-radius: 10px; /* Adjust the border radius as needed */
  position: relative;
  border: 1px solid grey;
  transition: background-color 0.3s ease;
}

.toggle-slider:before {
  content: '';
  width: 14px;
  height: 14px;
  background-color: #007bff; /* Adjust the handle color as needed */
  border-radius: 50%;
  position: absolute;
  top: 2.5px;
  left: 2px;
  transition: transform 0.3s ease;
}
.toggle-input:checked + .toggle-label .toggle-slider {
  background-color: #007bff; /* Adjust the active background color as needed */
  border: none;
}

.toggle-input:checked + .toggle-label .toggle-slider:before {
  transform: translateX(20px); /* Adjust the handle position as needed */
  background-color: white;
}

.form-floating label {
  color: #a5a9ac; /* Set initial label color to muted */
  font-size: medium;
}
.togglearrow[aria-expanded='true']::after {
  transform: rotate(180deg) !important;
  margin-top: -5px !important;
  background-image: url('../../../../../../public/images/chevron-down-blue.svg') !important;
}

.form-floating:hover input {
  border-radius: 6px;
  border: 1px solid #007bff; /* Change border color on hover to blue */
}
.form-floating:hover select {
  border-radius: 6px;
  border: 1px solid #007bff; /* Change border color on hover to blue */
}

.form-floating:hover input + label {
  color: black; /* Set label color to black on hover */
}

.form-floating > .form-select {
  padding-top: 0.4rem !important;
  color: #a5a9ac;
}
.form-floating:hover > .form-select {
  color: black;
}
.form-floating:hover select {
  // background-image: url("./select-icon.svg"); /* Set a background image */
}

.input-container {
  position: relative;
  display: inline-block;
}

.input-container input {
  padding-right: 30px; /* Add space for the SVG icon */
}

.input-container svg {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.full-width {
  width: 100%;
}

.formcontainer {
  margin-top: 15vh;
}

.error {
  color: red;
}
.saveclose {
  padding: 12px 23px;
}
.saveandclose {
  padding: 12px 23px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #387de5;
  color: #387de5;
  margin-right: 20px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}
.savechange {
  background-color: #387de5;
  color: white;
  margin-right: 30px !important;
}
.saveandclose:hover {
  background-color: #edf4ff !important;
  cursor: pointer;
}
.savechange:hover {
  background-color: #387de5 !important;
  opacity: 0.8 !important;
}
.createbtn {
  margin-right: 30px !important;
}

.editsize {
  font-size: 1rem;
}
.rows {
  width: 100%;
}
.errorcolor {
  color: red;
}
.dullcolor {
  color: #bdbdbd;
}
.formcontainer {
  margin-top: 15vh;
}
.footerminheight {
  min-height: 100%;
}
.formcontainer {
  margin-top: 15vh;
  margin-bottom: 15vh;
}
.rows {
  width: 100%;
}
.errorcolor {
  color: red;
}
.bordercolor {
  border-color: white !important;
}
.bordercolor:hover {
  background-color: white !important;
}
.footertext {
  position: absolute;
  left: 285px;
  cursor: pointer;
}
.footertext:hover {
  color: #005375;
}
.formcontainer {
  margin-top: 15vh;
}

.errorcolor {
  color: red;
}
.bordercolor {
  border-color: white !important;
}
.bordercolor:hover {
  background-color: white !important;
}

.footertext {
  position: absolute;
  left: 285px;
  cursor: pointer;
}
.footertext:hover {
  color: #005375;
}
.filterbutton {
  width: 256px !important;
}
.archiveoption {
  font-size: 13px;
  cursor: pointer;
}
.archivebtn {
  text-decoration: none !important;
  font-size: 15px !important;
}
.archivebtn:hover {
  color: #387de5 !important;
}
.saveclose {
  padding: 12px 23px;
}
.saveandclose {
  padding: 12px 23px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #387de5;
  color: #387de5;
  margin-right: 20px !important;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 400;
}
.savechange {
  background-color: #387de5;
  color: white;
  margin-right: 30px !important;
}
.saveandclose:hover {
  background-color: #edf4ff !important;
}
.savechange:hover {
  background-color: #387de5 !important;
  opacity: 0.8 !important;
}
.createbtn {
  margin-right: 20px !important;
}

.description {
  height: 158px;
}
.pright {
  padding-right: 0px !important;
}
.select {
  padding-bottom: 0px !important;
  padding-top: 10px !important;
}
