@import '../../../../styles//Global//Variable.scss';

.update-container {
  display: flex;
  justify-content: flex-end;
}

.update-content {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #387de5 !important;
}
