@import '../../../../styles/Global/Variable.scss';

.topRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
  padding: 0 30px;
  background-color: $neutral9;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.03);
  position: relative;
  z-index: 1;

  @media (max-width: 767px) {
    justify-content: space-between;
  }

  .search {
    display: flex;
    align-items: center;
    .formItem {
      // margin-right: 20px;
      position: relative;
      input[type='text'] {
        border: 1px solid $neutral6;
        border-radius: 8px;
        min-height: 56px;
        padding: 10px 20px 10px 56px;
        transition: all 0.5s ease;
        background-image: url(../../../../../public/images/Search.png);
        background-size: auto;
        background-repeat: no-repeat;
        background-position: 8% 50%;
        width: 326px;
        font-size: 16px;
      }

      input[type='text']:hover {
        border-color: $primary;
      }

      input[type='text']:focus {
        background-color: unset;
        outline: none;
        box-shadow: unset;
        border-color: $primary;
      }

      input[type='text']:focus::placeholder {
        color: $neutral10 !important;
      }

      input[type='text']:hover::placeholder {
        color: $neutral;
      }

      input[type='text']::placeholder {
        color: $neutral10;
      }
      .fieldIcon {
        position: absolute;
        top: 1rem;
        right: 1.3rem;
        color: #333;
      }
    }
  }

  &:global {
    > span {
      @media (max-width: 767px) {
        font-size: 12px !important;
        text-align: right;
        a {
          display: block;
        }
      }
    }
  }
}
