@import '../../../styles/Global/Variable.scss';

.modalbody {
  height: 283px !important;
  width: 344px !important;
  display: flex !important;
  border: none !important;
  @media (max-width: 767px) {
    width: 100% !important;
    height: 200px !important;
  }
}
.discussionbody {
  height: 283px !important;
  width: 420px !important;
  display: flex !important;
  border: none !important;
}
.mainmodelbody {
  border: none;
}
.nobtn {
  width: 132px !important;
  height: 56px !important;
  padding: 16px 32px !important;
  justify-content: center !important;
  align-items: center !important;
  font-size: 16px !important;
  font-weight: 400px !important;
  line-height: 24px !important;
  @media (max-width: 767px) {
    height: unset !important;
    min-height: 40px !important;
    padding: 5px 20px !important;
    font-size: 14px !important;
    line-height: unset !important;
  }
}
.nobtnhover:hover {
  background-color: #edf4ff !important;
}
.successicon {
  width: 90px;
  height: 90px;
  background-color: white;
  border-radius: 50%;
  border: 7px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -35px;
  @media (max-width: 767px) {
    height: 60px;
    width: 60px;
  }
}
.warning {
  width: 90px;
  height: 90px;
  background-color: #ff1e1e;
  border-radius: 50%;
  border: 7px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -35px;
  @media (max-width: 767px) {
    height: 60px;
    width: 60px;
  }
}
.customIcon {
  width: 90px;
  height: 90px;
  background-color: #fff;
  border-radius: 50%;
  border: 7px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -35px;
}
.driveWarningIconStyle {
  width: 90px;
  height: 90px;
  background-color: #ff1e1e;
  border-radius: 50%;
  border: 7px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -35px;
}
.heading {
  font-size: 24px;
  margin-top: 50px;
  color: rgb(53, 53, 53);
  font-weight: 600;
  margin-bottom: 5px;
  font-family: $font-family-primary !important;
  @media (max-width: 1199px) {
    font-size: 30px;
  }
  @media (max-width: 767px) {
    font-size: 28px;
    margin-top: 0;
  }
}
.bodytext {
  font-size: 16px !important;
  margin-bottom: 36px !important;
}
.submitbutton {
  min-height: 40px;
}
.oksubmitbtn {
  display: flex;
  width: 284px;
  height: 56px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  font-size: 18px !important;
  font-weight: 400;
  line-height: 24px;
  border-radius: 8px !important;
  @media (max-width: 767px) {
    height: unset !important;
    min-height: 40px !important;
    padding: 5px 20px !important;
    font-size: 14px !important;
    line-height: unset !important;
  }
}
.discussionOk {
  display: flex;
  width: 360px;
  height: 56px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  font-size: 18px !important;
  font-weight: 400;
  line-height: 24px;
  border-radius: 8px !important;
}

.isArchive {
  width: 345px;
  padding: 40px 30px 30px !important;
  max-width: 345px !important;
}
.customSpan {
  display: inline-block;
  margin-bottom: 0px !important;
  width: 284px;
}
